.todoContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.todoList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 30rem;
  justify-content: center;
}

.todoCard {
  composes: z-1 from '../../main.css';
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  flex: 1 1 20rem;
}

.category {
  padding-top: 2rem;
}
