.todoList {
  text-align: center;
  flex: 0 1 27rem;
}

.todoCard {
  composes: z-1 from '../../main.css';
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
}

.category {
  padding-top: 2rem;
}
